body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.flip-tile {
	position: relative;
	text-align: center;
	perspective: 1000px;
}
/* backup */

.flip-content {
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	position: relative;
}

.wordle-tile {
	border: 5px solid black;
	width: 60px;
	height: 60px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
	perspective: 1000px;
}

.correct {
	border: 5px solid green;
	width: 60px;
	height: 60px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
	background-color: green;
	color: white;
}

.present {
	border: 5px solid rgb(232, 240, 109);
	width: 60px;
	height: 60px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
	background-color: rgb(232, 240, 109);
}

.wrong {
	border: 5px solid black;
	width: 60px;
	height: 60px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
	background-color: black;
}

.submitted {
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.submitted .flip-content {
	transform: rotateY(180deg);
}
.wordle-tile,
.flip-content > div {
	backface-visibility: hidden;
}
